* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Oswald", sans-serif; 
  font-size: 20px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  background: radial-gradient(#2d545e,#12343b)
}
.workLink {
  text-decoration: none;
  margin-top: 50px;
  align-self: flex-start;
  margin-left: 130px;
  color: black;
  background: #e1b382
}
.workLink:hover {
  background: #2d545e;
  color: #e1b382;

}
.workLink h3:hover {
  box-shadow: 2px 2px 1.5px .75px rgb(71, 69, 69);
  border-radius: 2px;
}
.workLink h3 {
  max-width: 200px;
  padding:7px;
  box-shadow: 2px 2px 1.5px .75px rgb(71, 69, 69);
  border-radius: 2px;
}
p {
  font-family: "Quattrocento", serif;
  padding: 20px;
  line-height: 1.5em;
}
#publicsafety {
  font-size: 18px;
  align-self: flex-start;
}
#publicsafety > span {
  line-height: 3em;
  font-size: 25px;
  font-family: "Oswald", sans-serif;
  text-decoration: underline;
}
.public {
  text-align: left;
  display: flex;
  flex-direction: column;
  margin:100px auto 100px auto;
  line-height: 1.5em;
  }
.public > h5 {
  align-self: flex-start;
  margin-left: 75px;
}
nav,
footer {
  padding: 1% 0;
  color: black;
  background: #c89666
}
footer {
  text-align: center;
}
section h4{
    text-align: center;
    font-size: 2em;
    padding-bottom: 15px;
    letter-spacing: 2.5px;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  
}
nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
nav ul li{
  margin-right: 20px;
}
nav ul li a{
  text-decoration: none;
  color: black;
}
nav ul li:hover, nav ul li a:hover{
  color: #2d545e;
  cursor: pointer;
}
header {
  padding: 10% 0;
  margin: 25px auto 0 auto;
  display: flex;
  flex-direction: column; 
  align-items: center;
  width: 100%;
  max-height: 400px;
  color: white;
  background-image: url('./IMG_4396.JPG');
  background-size: cover;
  opacity: .9;

}
header h1, header h2 {
  align-self: flex-start;
  margin-left: 130px;
}
header h1 {

  font-size: 3em;
}
section {
  min-height: 200px;
  padding: 6% 0;
  margin: 25px 100px 25px 100px;
  text-align: left;
  background: #e1b382;
  opacity: .9;
}
img {
  max-width: 800px;
  max-height: 600px;
  margin: 0;
  padding: 0;
}

.section3 {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
  box-shadow: 5px 5px 10px black;
  border-radius: 2%;

}
 
.section3 iframe {
   
   height: 100%;
   left: 0;
   position: absolute;
   bottom: 0;
   width: 100%;
  
   
}
.projectsHeader {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  min-height: 50px;
  max-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  background: none;
  color: white;
}
.section1 p{
  font-size: 18px;
}
@media only screen and (min-width: 720px){
  div {
  display: flex;
  margin: 0;
  padding: 0;
  }
  section {
  margin: 25px 100px 25px 100px;
  }
  .section1 {
  width: 50%;
  margin: 35px 0 0 100px;
  border-right: 5px solid #12343b;
  
  }
  .section2 {
  width: 50%;
  margin: 35px 100px 0 0;
  border-left: 5px solid #12343b;

  }
  .projectsHeader {
  width: 80%;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  }
  #publicsafety {
    font-size: 18px;
    align-self: flex-start;
  }
  .public {
    display: flex;
    flex-direction: column;
    margin: 75px 100px;
    line-height: 1.5em;
}
  .public > h5 {
    align-self: flex-start;
    margin-left: 100px;
}
}
  



